@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
	font-family: 'Roboto';
	background-color:#f5f5f5;
}
.wrap_page {
	width:100%;
	height: auto;
}
.auto-margin{
	width:85%;
	max-width: 900px;
	margin-right: auto;
	margin-left: 5%;
	display: table;
}
.top {
	color: #333333;
	background-color: #FFF;
	position: fixed;
	width: 100%;
	z-index: 999999;
	left: 0px;
	top: 0px;
	box-shadow:0px 0px 8px rgba(0,0,0,0.3);
	height:auto;
}

.logo-nav{
	background-color:#fff;
	padding-top:15px;
	padding-bottom:15px;
}
.logo-cont {
	color:teal;
	font-size:30px;
	font-weight:bolder;
	width: 15%;
	text-align: left;
	position: relative;
	float:left;
}
.logo-cont a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.logo-cont img {
	width: 100%;
	max-width: 80px;
    height: auto;	
	display: block;
}
.page{
	padding:20px 0px 20px 0px;
}
.body-content{
	width:75%;
    min-height: 600px;
    margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	display: table;
	background-color:#fff;
	border:solid 1px #ececec;
	border-radius:10px;
	box-sizing:border-box;
}
.block {
	display: table;
	width: 100%;
	text-align:right;
	padding-right: 70px;
}

.txt-right {
	text-align: right;
}
.txt-left {
	text-align: left;
}
.button{
	color: #fff;
	font-size: 16px;
	font-weight:700;
	text-transform:uppercase;
	text-decoration:none;
	background-color: teal;
	padding-top: 15px;
	padding-left: 40px;
	padding-bottom: 15px;
	text-shadow: none;
	cursor:pointer;
	border:none;
	float:right;
}
.txt-center {
	float: right;	
}
#addremove{
    color: black;
	float: right;
	margin-top: -40px;
	margin-bottom: 40px;
	margin-right:10%;
	margin-left: -8%;
	font-size: 30px;
	cursor: pointer;
}
.col-30,
.col-70{
	float:right;
}
.col-30{
	width: 100%;
}
.col-70{
	width: 100%;
}
.col-content{
	margin:70px 0% 25px 40%;
}
.icon{
	width:40px;
	font-size:24px;
	display:inline-block;
	vertical-align:top;
	position:relative;
}
.img-responsive{
	max-width:100%;
	height:auto;
}
#main{
	position:relative;
}
.main-left{
	width: 35%;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	z-index:100;
	margin:auto;
	border-top-left-radius:9px;
	border-bottom-left-radius:9px;
    background-image:url(main_picture.jpg);
	background-repeat:no-repeat;
	background-size:cover;

}
.formSection .block {
	padding-bottom: 15px;
	position: relative;
}

#venue{
	font-size: 20px;
    width: 90%;
	color: #666;
	float: left;
	margin-top: 30px;
	padding-top: 15px;
	position: relative;
	margin-bottom: 40px;
    border-bottom: 4px solid teal;
    padding-bottom: 15px; 
}
#location{
	font-size: 20px;
    width: 75%;
	color: #666;
	float: left;
	margin-top: 30px;
	padding-top: 20px;
	position: relative;
    padding-bottom: 15px;
	border-bottom: 2px solid gray;  
    border-bottom: 2px solid gray;
	border-bottom: 2px solid gray;  
}
#location:hover{
	border-color:darkblue;
}
.txt-field,
input[type="text"] {
	font-size: 16px;
	color: #333;
	width: 98%;
	height: 25px!important;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	box-sizing:border-box;
	outline:none;
}
.errMsg1{
	font-size: 14px;
	color: #A80000;
	background-color: #FFF;
	padding: 10px;
	position: absolute;
	border: 1px solid #790000;
	top: -35px;
	right: 0px;
	display: none;
}
.errMsg2{
	font-size: 14px;
	color: #A80000;
	background-color: #FFF;
	padding: 10px;
	position: absolute;
	border: 1px solid #790000;
	top: -35px;
	right: 0px;
	display: none;
}
.reg-btn{
	padding:20px 0px 0px 0px;
	border-top:solid 2px #dadada;
}
button,
input[type="submit"],
input[type="button"]{
	color: #fff;
	font-size: 16px;
	font-weight:700;
	text-transform:uppercase;
	background-color: teal;
	padding-top: 7px;
	padding-right: 45px;
	padding-bottom: 7px;
	padding-left: 45px;
	text-shadow: none;
	border-radius: 5px;
	cursor:pointer;
	border:none;
	display:inline-block;
}
.btn-top {
	line-height: 30px;
	text-align: center;
	font-weight: normal;
	float: right;
	position: fixed;
	bottom: 50px;
	right: 15px;
	color: #fff;
	background-color:#038bf9;
	cursor: pointer;
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding: 0px;
	z-index: 5000;
	display: none;
		
}
.btn-top i {
	font-size: 36px;
	display:inline-block;
	padding-top:6px;
}
.btn-top:hover {
	color:#fff;
	background-color: #000;
}
.btn-top span {
	display: block;
	width: 50px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-size: 14px;
	line-height: 14px;
	padding-top: 0px;
}

.footer {
	width: 100%;
	background-color: #1d1d1d;
	display: table;
	
}
.footer ul {
	margin: 0px;
	padding: 0px;
}
.footer a   {
	color: #fff;
	text-decoration: none;
}
.footer a:hover {
	color: #038bf9;
}