<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rendeview</title>
    <link rel='stylesheet' href='/stylesheets/home.css'>  
    <link rel='stylesheet' href='/css/bootstrap.min.css'>  
</head>

<body>
  <div class = "hero-image"> 
    
    <div style =" text-align: center;border: 2px solid white; width: 50%; margin: auto; padding: 8px ; height: 800px">

        <h1 class="display-1"> Rendeview</h1>
        
        <p class="h6">This application lets you find an equidistant destination that accounts for time in traffic to meet with friends. 
            Enter in the location and name of each member, then choose what venue type you want to meet at. </p>
        
         
        <form id='form' action="/results" method="post">
            <br>
            <button class="btn btn-primary" id="add" type="button">Add Location</button>
            <div class='addressInfo'>
                <label>Location 1: </label><input class='defaultSearchInputs' type="text" name="location" style="width: 50%; margin: 3px">
                <br>
                <label>Name: </label></Name><input type="text" name="Name" >
                <hr>
            </div>
            <div class='addressInfo'>
                <label>Location 2: </label><input class='defaultSearchInputs' type="text" name="location" style="width: 50%; margin: 3px">
                <br>
                <label>Name: </label></Name><input type="text" name="Name" >
                <hr>
            </div>
            <div id='radioButtons'>
                <input   class='form-check-input' type='radio' name='type' value='cafe' id='cafeCheck' checked> <label for='cafeCheck'>Cafe</label>
                <input   class='form-check-input' type='radio' name='type' value='bank' id='bankCheck'> <label for='bankCheck'>Bank</label>
                <input   class='form-check-input' type='radio' name='type' value='bar' id='barCheck'> <label for='barCheck'>Bar</label>
                <input   class='form-check-input'   type='radio' name='type' value='restaurant' id='restaurantCheck'> <label for='restaurantCheck'>Restaurant</label>
            </div>
            <input  class="btn btn-primary" id='submit' type="Submit" value="Search">
        </form>
        
        
        
    </div>

    <script src='/scripts/home.js'></script>
    <script src='/js/bootstrap.min.js'></script>

</div>
</body>


</html>