<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rendeview</title>
</head>
<body>

    <h1 style="text-align: center">Welcome to the future home of the Rendeview web app!</h1>

    <div style ="text-align: center;border: 2px solid black; width: 50%; margin: auto; padding: 8px">
        <form action="/results" method="post">
            <br>
            <button id="add_location_button" type="button">Add Location</button>
            <button id="remove_location_button" type="button">Remove Location</button>
            <!-- See link for logic:
            https://stackoverflow.com/questions/32382450/dynamically-display-html-elements-via-loop
            -->
            <br>
            <br>
            <input type="text" name="location" style="width: 50%; margin: 3px">
            <br>
            <input type="text" name="location" style="width: 50%; margin: 3px">
            <br>
            <br>
            <input type="Submit" value="Next">


        </form>
    </div>
</body>
</html>