<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rendeview</title>
    <link rel='stylesheet' href='/stylesheets/home.css'>  
</head>
<body>

    <h1 style="text-align: center">Welcome to the future home of the Rendeview web app!</h1>

    <div style ="text-align: center;border: 2px solid black; width: 50%; margin: auto; padding: 8px">
        <form id='form' action="/results" method="post">
            <br>
            <button id="add" type="button">Add Location</button>
            <div class='addressInfo'>
                <label>Location 1: </label><input class='defaultSearchInputs' type="text" name="location" style="width: 50%; margin: 3px">
                <br>
                <label>Name: </label></Name><input type="text" name="Name" >
                <hr>
            </div>
            <div class='addressInfo'>
                <label>Location 2: </label><input class='defaultSearchInputs' type="text" name="location" style="width: 50%; margin: 3px">
                <br>
                <label>Name: </label></Name><input type="text" name="Name" >
                <hr>
            </div>
            <div id='radioButtons'>
                <input type='radio' name='type' value='cafe' id='cafeCheck' checked> <label for='cafeCheck'>Cafe</label>
                <input type='radio' name='type' value='bank' id='bankCheck'> <label for='bankCheck'>Bank</label>
                <input type='radio' name='type' value='bar' id='barCheck'> <label for='barCheck'>Bar</label>
                <input type='radio' name='type' value='restaurant' id='restaurantCheck'> <label for='restaurantCheck'>Restaurant</label>
            </div>
            <input id='submit' type="Submit" value="Next">
        </form>
    </div>

  <script src='/scripts/home.js'></script>
</body>
</html>