
          /* Optional: Makes the sample page fill the window. */
html,body {
            height: 100%;
            margin: 0;
            padding: 0;
            display:float;
}
  /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#map {
    height: 100%;
    width:80%;
    flex:8;
    float:left;
}
#info{
  height: 100%;
  width: 20%;
  float:left;
  overflow: auto;
}